<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio_03</title>
    <link rel="stylesheet" href="/aula09/projeto/src/styleex.css">
</head>
<body>
    <div id="conteiner">
        <h1>Exercicio 03</h1>
        <label for="">Digite a sua idade:</label>
        <input type="text" id="idadecamp">
        <br>
        <input id="botao" type="button" value="verificar se é maior de idade" onclick="verificaridade()" style="width: 200px;">
        <br><br>
        <p id="result"></p>
    </div>

    <script src="/aula09/projeto/app/codigo.js"></script>
</body>
</html>